@import "../../../../scss/colors";
@import "../../../../scss/mixins";

.products {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(20rem, 1fr));
  grid-gap: 20px 15px;
  padding: 25px 0 20px 20px;

  @include respond(tablet) {
    padding: 0;
  }

  @include respond(phone) {
    grid-template-columns: repeat(auto-fill, minmax(13rem, 1fr));
  }
}
