@import "../../assets/scss/colors";
@import "../../assets/scss/mixins";

.login {
  padding-top: 60px;

  &__container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 10px;
    overflow: hidden;
    background-color: $primary-white-color;

    @include respond(tablet) {
      box-shadow: none;
      flex-direction: column;
    }
  }

  &__content {
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    margin: 40px 40px 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;
    padding: 40px 40px;
    border-radius: 5px;

    @include respond(tablet) {
      width: 70%;
    }

    @include respond(phone) {
      padding: 20px 10px;
      width: 98%;
    }

    h2 {
      font-size: 2.8rem;
      margin-bottom: 20px;
      text-align: center;
    }

    &-label {
      font-size: 3.4rem;
      font-weight: 700;
      color: $primary-red-color;
    }
  }

  &__separate {
    position: relative;
    text-align: center;

    &:after {
      position: absolute;
      content: "";
      height: 0.1rem;
      width: 100%;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      text-align: center;
      background-color: rgba($primary-grey-color, 0.2);
    }

    &-text {
      position: relative;
      z-index: 1;
      font-size: 1.4rem;
      background-color: $primary-white-color;
      padding: 0 10px;
      color: $primary-grey-color;
    }
  }

  &__options {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;

    & > *:first-child {
      margin-right: 20px;

      @include respond(phone) {
        margin-right: 0;
      }
    }

    @include respond(phone) {
      flex-direction: column;
    }
  }

  &__options &__option {
    padding: 10px 12px;
    font-size: 1.5rem;
    margin-top: 15px;
    text-transform: unset;
    color: inherit;
    box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.2);
    border-radius: 999px;
    min-width: 18.5rem;
    background-color: $primary-white-color;

    @include respond(phone) {
      min-width: 65%;
    }
  }

  &__options &__option:hover {
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
    background-color: #f1f1f1;
  }

  &__options &__option--gg {
    margin-right: 20px;

    @include respond(phone) {
      margin-right: 0;
      margin-bottom: 5px;
    }
  }

  &__options &__option img,
  &__options &__option svg {
    width: 2.2rem;
    height: 2.2rem;
    margin-right: 5px;
  }

  &__options &__option svg {
    fill: #4573d0;
  }

  &__options .gg-icon,
  &__options .fb-icon {
    margin-right: 3px;
  }

  &__msg {
    font-size: 1.6rem;
    margin-top: 30px;
    color: $primary-grey-color;
    text-align: end;
  }

  &__msg-btn {
    cursor: pointer;
  }

  &__desc {
    font-size: 1.8rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 50%;
    padding: 0px 10px 50px;

    @include respond(tablet) {
      width: 70%;
    }

    @include respond(phone) {
      padding: 20px 10px;
      width: 98%;
    }
  }
}
