@import "../../scss/colors";
@import "../../scss/mixins";

.cart {
  position: relative;
  z-index: 999;

  &__overlay {
    position: fixed;
    top: 0;
    right: 0;
    z-index: 900;
    width: 10rem;
    height: 10rem;
    visibility: hidden;
    transform: scale(0);
    background-color: rgba(0, 0, 0, 0.6);
    transition: all 1s linear 0.2s;
    cursor: default;
  }

  &.active &__overlay {
    visibility: visible;
    transform: scale(80);
  }

  &__heading {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  }

  &__title {
    font-size: 2.4rem;
    text-transform: uppercase;

    @include respond(phone) {
      font-size: 2rem;
    }
  }

  svg {
    width: 2.2rem;
    height: 2.2rem;

    @include respond(phone) {
      width: 2rem;
      height: 2rem;
    }
  }

  &__close {
    cursor: pointer;
    margin-right: 5px;

    &:hover {
      color: $primary-red-color;
      transform: scale(1.1);
    }
  }

  @keyframes collapse {
    40% {
      transform: rotate(0);
      opacity: 1;
    }
    100% {
      opacity: 0;
      transform: translateX(20px);
    }
  }

  &__close.active:before,
  &__close.active:after {
    animation: collapse 1s cubic-bezier(0.7, 0.2, 0.05, 1) forwards;
  }

  &__container {
    position: fixed;
    right: 0;
    top: 0;
    z-index: 999;
    width: 45rem;
    height: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    opacity: 0.8;
    transform: translateX(100%);
    background-color: $primary-white-color;
    transition: all 0.4s ease-in-out 0.8s;

    @include respond(tablet) {
      width: 100%;
    }
  }

  &.active &__container {
    opacity: 1;
    transform: translateX(0);
    transition-delay: 0.3s;
  }
}


