@import "../../../../scss/colors";
@import "../../../../scss/mixins";

.homeBanner {
  height: 100vh;
  flex-shrink: 0;
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;

  .container-ui {
    height: 100%;
  }

  @include respond(tablet) {
    height: 60vh;
  }

  &__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 60%;
    height: 100%;

    @include respond(tablet) {
      text-align: center;
      align-items: center;
      width: 100%;
    }

    &-title {
      font-size: 2.6rem;
      font-weight: 700;
      text-transform: uppercase;
      color: $primary-red-color;

      @include respond(tablet) {
        font-size: 2rem;
      }
    }

    &-description {
      font-size: 4.8rem;
      font-weight: 600;
      line-height: 1.2;
      margin: 10px 0 20px;
      color: $primary-white-color;

      @include respond(tablet) {
        font-size: 3.4rem;
      }
    }

    &-icon {
      margin-right: 5px;
      width: 1.8rem;
      height: 1.8rem;
      fill: $primary-white-color;

      @include respond(tablet) {
        width: 1.5rem;
        height: 1.5rem;
        margin-right: 3px;
      }
    }
  }
}
