@import "../../assets/scss/colors";
@import "../../assets/scss/mixins";

.wishlist {
  position: fixed;
  right: 50px;
  top: 50%;
  z-index: 888;
  margin-bottom: 20px;
  width: 42rem;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.15);
  transform: translate(calc(100% + 50px), -50%) scale(0.7) rotate(-1deg);
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  opacity: 0.8;
  background-color: $primary-white-color;
  transition: all 0.3s ease-in-out;

  @include respond(tablet) {
    margin-top: 57px;
    inset: 0;
    width: 100%;
    height: 100%;
    transform: translateX(calc(100% + 50px));
    transition-duration: 0.4s;
  }

  &.active {
    transform: translate(0, -50%) scale(1) rotate(0);
    opacity: 1;
    @include respond(tablet) {
      transform: translateX(0);
    }
  }

  &__top {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 7px 10px;
    justify-content: space-between;
    margin-bottom: 15px;
    background-color: $wishlist-color;
  }

  &__shop {
    display: flex;
    align-items: center;
    margin-right: 10px;
    color: $primary-white-color;
    cursor: default;

    svg {
      font-size: 2rem;
    }

    span {
      font-size: 1.5rem;
      text-transform: uppercase;
      margin-left: 6px;
    }
  }

  &__top button svg {
    color: $primary-white-color;
    font-size: 1.8rem;
  }

  &__items {
    padding: 0 10px 20px;
    height: 35rem;
    overflow-y: auto;

    @include respond(tablet) {
      height: 100%;
      padding-bottom: 75px;
    }
  }

  &__items {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }

  &__items::-webkit-scrollbar {
    display: none;
  }

  &__item {
    display: flex;
    align-items: center;
    transition: all 0.15s ease;
    cursor: pointer;
  }

  &__item:not(:last-child) {
    margin-bottom: 12px;
  }

  &__img {
    max-width: 7rem;
    margin-right: 12px;
  }

  &__img img {
    width: 100%;
    height: 6rem;
    object-fit: cover;
  }

  &__content {
    flex: 1;
  }

  &__name {
    margin-bottom: 10px;
    font-size: 1.8rem;
    font-weight: bold;
    overflow: hidden;
    display: block;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    transition: all 0.2s ease-in-out;
  }

  &__name:hover {
    color: $primary-success-color;
  }

  &__price {
    font-weight: bold;
    font-size: 1.6rem;
    margin: 8px 3px;
    color: $primary-red-color;
  }

  & button {
    min-width: 3rem;
    margin-left: 5px;
  }

  &__remove svg {
    font-size: 2.2rem;
    fill: rgba(0, 0, 0, 0.4);
  }

  &__remove:hover svg {
    fill: rgba(0, 0, 0, 0.8);
  }
}
