@import "../../../assets/scss/colors";
@import "../../../assets/scss/mixins";

.home-banners {
  position: relative;
  overflow: hidden;

  .slides {
    display: flex;
    transition: 0.75s ease-in-out;
  }

  .dots {
    position: absolute;
    bottom: 30px;
    left: 50%;
    display: flex;
    transform: translateX(-50%);

    .dot {
      position: relative;
      content: "";
      width: 2rem;
      height: 2rem;
      border-radius: 50%;
      margin: 0 10px;
      border: 3px solid $primary-red-color;
      transition: 0.3s ease;
      cursor: pointer;

      @include respond(tablet) {
        width: 1.6rem;
        height: 1.6rem;
      }

      &:before {
        position: absolute;
        content: "";
        right: 0;
        bottom: 0;
        width: 100%;
        height: 100%;
        border-radius: 50%;
        opacity: 0;
        transition: 0.3s ease-in-out;
        background-color: $primary-yellow-color;
      }

      &.active:before {
        opacity: 1;
      }
    }
  }
}
