@import "../../../assets/scss/colors";
@import "../../../assets/scss/mixins";

.shop-handle {
  display: flex;
  align-items: flex-start;

  @include respond(tablet) {
    margin-bottom: 20px;
  }

  &__search {
    display: flex;
    flex: 1;
    align-items: center;
    border-radius: 20px;
    padding: 5px 10px 5px 15px;
    margin-left: 30px;
    border: 1px solid rgba(0, 0, 0, 0.2);

    input {
      font-size: 1.5rem;
      outline: 0;
      border: 0;
      width: 100%;
      background-color: $primary-white-color;

      @include respond(tablet) {
        font-size: 1.3rem;
      }
    }

    @include respond(tablet) {
      margin-left: 0;
      padding: 2px 5px 2px 10px;
    }
  }

  

  &__search-btn {
    width: 3rem;
    height: 3rem;
    margin-left: auto;
    background: none;

    svg {
      width: 2.3rem;
      height: 100%;
      text-align: center;
      fill: $primary-grey-color;
    }
  }

  &__drop {
    position: relative;
    margin-left: 20px;

    @include respond(phone) {
      margin-left: 10px;
    }
  }

  &__drop-list {
    position: absolute;
    z-index: 999;
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 6px;
    margin-top: 10px;
    padding: 7px 0;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.15);
    transform: translateY(13px);
    opacity: 0;
    visibility: hidden;
    width: 100%;
    background-color: $primary-white-color;
    transition: all 0.15s linear;
  }

  &__drop-list.drop {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
  }

  &__drop-item {
    font-size: 1.4rem;
    line-height: 1.8;
    padding: 6px 17px;
    transition: all 0.08s ease-out;

    &:not(:last-child) {
      border-bottom: 1px solid rgba(0, 0, 0, 0.04);
    }

    &:hover {
      background-color: rgba(0, 0, 0, 0.08);
      cursor: pointer;
    }
  }

  &__drop-current {
    display: flex;
    align-items: center;
    line-height: 1.8;
    padding: 5px 15px;
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 6px;
    min-width: 16.5rem;
    cursor: pointer;

    span {
      font-size: 1.4rem;
    }

    svg {
      margin-left: auto;
    }
  }

  &__display-types {
    display: flex;
    align-items: center;
    margin-left: 20px;

    @include respond(tablet) {
      display: none;
    }
  }

  &__display-types &__display-type {
    width: 3.2rem;
    height: 3.2rem;
    fill: rgba(0, 0, 0, 0.45);
    cursor: pointer;
  }

  &__display-type:first-child {
    margin-right: 3px;
  }

  &__display-types svg {
    transition: none;
  }

  &__display-type.active {
    fill: $primary-red-color;
  }
}
