@import "../../../assets/scss/colors";
@import "../../../assets/scss/mixins";

.shop-content {
  display: flex;
  flex-direction: column;
  flex: 1;

  .spinner {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 50px;

    @include respond(tablet) {
      margin-top: 100px;
    }
  }
}
