@import "../../../assets/scss/colors";
@import "../../../assets/scss/mixins";

.detail-products {
  text-align: center;
  margin-bottom: 80px;

  &__wrapper {
    margin-top: 25px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(20rem, 1fr));
    grid-gap: 15px;
    text-align: start;

    @include respond(phone) {
      grid-template-columns: repeat(auto-fill, minmax(13rem, 1fr));
    }
  }

  .shop-product__img-wrapper {
    height: 20rem;

    @include respond(tablet) {
      height: 15rem;
    }
  }

  .primary-heading-text{
    font-size: 3.4rem;
    padding: 10px;
    font-weight: 600;
    color: $primary-success-color;

    @include respond(tablet) {
      font-size: 3rem;
    }

    @include respond(phone) {
      font-size: 2.6rem;
    }
  }
}
