@import "../../../scss/colors";
@import "../../../scss/mixins";

.loginForm {
  margin-bottom: 15px;

  &__commit {
    display: inline-flex;
    align-items: center;
    font-size: 1.4rem;
    margin-bottom: 10px;
  }

  &__commit-checkbox svg {
    width: 1.8rem;
    height: 1.8rem;
  }

  &__commit-msg {
    margin-left: 3px;
  }

  &__btn {
    display: block;
    margin: 0 auto;
    background-color: transparent;
  }

  &__btn .primary-btn {
    min-width: 15rem;
  }
}
