@import "../../assets/scss/colors";
@import "../../assets/scss/mixins";

.toast-msg {
  position: relative;
  display: flex;
  align-items: center;
  padding: 0 15px;
  border-radius: 4px;
  width: 100%;
  height: 100%;
  cursor: default;

  &__icon {
    position: relative;
    width: 2.3rem;
    height: 2.3rem;
    border-radius: 50%;
    margin-right: 12px;
    flex-shrink: 0;
    background-color: $primary-white-color;
  }

  &__icon svg {
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 1.6rem;
    transform: translate(-50%, -50%);
  }

  &__content {
    line-height: 2;
    color: $primary-white-color;
  }

  &__title {
    font-size: 1.7rem;
    font-weight: bold;
  }

  &__description {
    font-size: 1.4rem;
    margin-bottom: 5px;
  }

  &__close {
    position: absolute;
    top: 10px;
    right: 10px;
  }

  &__close svg {
    font-size: 2rem;
    opacity: 0.9;
    fill: $primary-white-color;
    cursor: pointer;
  }
}

.Toastify__toast-container {
  top: 100px;
  right: 30px;
  width: 40rem;

  @include respond(tablet) {
    display: none;
  }

  .Toastify__toast {
    position: relative;
    padding: 0;
    box-shadow: 0 2px 13px rgba(0, 0, 0, 0.25);
  }

  .Toastify__toast + .Toastify__toast {
    margin-top: 20px;
  }

  .Toastify__toast-body {
    padding: 0;
  }
}
