@import "../../../assets/scss/colors";
@import "../../../assets/scss/mixins";

.checkout-content {
  display: flex;
  max-width: 128rem;
  margin: 0 auto;
  padding: 0 20px;

  @include respond(tablet) {
    flex-direction: column;
    padding: 10px;
    max-width: unset;
  }

  &__left {
    position: relative;
    width: 50%;
    margin: 50px 20px;
    box-shadow: 0 3px 20px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    padding: 40px 30px;
    background-color: rgba(0, 0, 0, 0.9);

    @include respond(tablet) {
      width: 100%;
      border-radius: 10px;
      padding: 20px 20px;
      margin: 30px 0  0;
    }
  }

  &__right {
    display: flex;
    flex-direction: column;
    width: 50%;
    margin: 50px 20px;

    & > *:not(:last-child) {
      margin-bottom: 30px;
    }

    @include respond(tablet) {
      width: 100%;
      padding: 0 10px;
      margin: 50px 0 70px;
    }
  }
}
