@import "../../../assets/scss/colors";
@import "../../../assets/scss/mixins";

.detail-tab {
  margin: 60px 0;
  padding: 0 40px;

  @include respond(tablet) {
    padding: 0;
    margin: 40px 0;
  }

  &__btns {
    position: relative;
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
  }

  &__btn {
    font-size: 2rem;
    font-weight: bold;
    margin: 0 10px;
    padding: 12px 20px;
    transition: all 0.25s ease-in-out;
    cursor: pointer;
    user-select: none;

    @include respond(tablet) {
      padding: 8px 15px;
      font-size: 1.8rem;
    }

    &.active {
      color: $primary-white-color;
    }

    &-background {
      position: absolute;
      top: 0;
      content: "";
      height: 100%;
      border-radius: 10px;
      z-index: -1;
      transition: all 0.35s ease-in-out;
      background-color: $primary-red-color;
    }
  }

  &__content-description {
    font-size: 1.8rem;
    line-height: 1.6;
    padding: 10px;

    @include respond(phone) {
      text-align: center;
    }
  }

  &__content-table {
    position: relative;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(calc(100% / 6), 1fr));
    margin-top: 20px;

    @include respond(phone) {
      grid-template-columns: repeat(auto-fit, minmax(100%, 1fr));
    }
  }

  &__content-col {
    display: flex;
    flex-direction: column;
    text-align: center;

    @include respond(tablet) {
      justify-content: space-evenly;
    }

    @include respond(phone) {
      flex-direction: row;
      padding-top: 20px;
    }

    &:not(:first-child) {
      @include respond(phone) {
        border-top: 1px solid rgba(0, 0, 0, 0.15);
      }
    }

    &-wrapper {
      text-align: center;
      border-bottom: 1px solid #ccc;
      padding-bottom: 20px;

      @include respond(phone) {
        width: 50%;
        border-bottom: none;
      }
    }

    &-title {
      font-size: 2.3rem;
      font-weight: 500;
      margin-bottom: 5px;
      text-transform: capitalize;

      @include respond(tablet) {
        font-size: 2rem;
      }
    }

    &-description {
      font-size: 1.8rem;
    }
  }

  &__content-col:first-child :is(&__content-col-title, &__content-ingredients) {
    font-size: 1.8rem;
    font-weight: bold;
    padding-top: 20px;
  }

  &__content-ingredients {
    font-size: 1.8rem;
    padding-top: 10px;

    @include respond(phone) {
      width: 50%;
    }
  }
}
