@import "../../../scss/colors";
@import "../../../scss/mixins";
@import "../../../scss/_typography.scss";

.steps {
  text-align: center;
  margin: 80px 0;
  @include respond(tablet) {
    margin: 60px 0;
  }

  &__container {
    margin-top: 40px;
    @include respond(tablet) {
      margin-top: 30px;
    }

    &-step {
      position: relative;
      margin: 0 40px;
      padding: 0 30px;

      &:first-child {
        margin-left: 0;
      }

      &:last-child {
        margin-right: 0;
      }

      .wrapper {
        position: relative;
        display: inline-block;

        img {
          border: 15px solid $primary-white-color;
          border-radius: 50%;
          box-shadow: 0 2px 15px rgba(0, 0, 0, 0.06);
        }

        span {
          position: absolute;
          right: 0;
          top: 3px;
          font-size: 2rem;
          font-weight: 600;
          width: 6rem;
          height: 6rem;
          padding: 10px;
          text-transform: uppercase;
          border-radius: 50%;
          border: 5px solid $primary-white-color;
          color: $primary-white-color;
          background-color: $primary-red-color;
          transition: all 0.25s ease;
          &:hover {
            border-color: $primary-red-color;
            color: $primary-red-color;
            background-color: $primary-white-color;
          }
        }
      }

      .content {
        font-size: 1.8rem;
        font-weight: 600;
        margin-top: 20px;
        transition: all 0.3s ease;
        @include respond(phone) {
          margin-top: 20px;
        }
      }
    }
  }
}
