@import "../../../../scss/colors";
@import "../../../../scss/mixins";

.homeProduct {
  text-align: center;
  border-radius: 6px;
  overflow: hidden;
  background-color: rgba(0, 0, 0, 0.02);
  transition: all 0.35s ease-in-out;
  cursor: default;
  box-shadow: 0 3px 20px rgba(0, 0, 0, 0.1);

  @include respond(tablet) {
    background-color: rgba($primary-red-color, 0.25);
  }

  @include respond(phone) {
    margin: 0 40px;
  }

  &:hover {
    background-color: rgba($primary-yellow-color, 0.1);

    @include respond(desktop) {
      transform: translateY(-5px);
    }
  }

  &__img {
    position: relative;
    padding-top: 10px;

    &:before {
      content: "";
      position: absolute;
      padding-bottom: 40px;
      top: 0;
      left: 0;
      right: 0;
      z-index: -1;
      width: 100%;
      height: 100%;
      background-color: rgba($primary-red-color, 0.75);
      clip-path: ellipse(80% 80% at 50% 15%);
      transition: all 0.35s ease-in-out;
      &:hover {
        background-color: $primary-red-color;
      }

      @include respond(tablet) {
        background-color: $primary-red-color;
      }
    }

    img {
      width: 20rem;
      padding: 10px;

      @include respond(tablet) {
        width: 15rem;
      }
    }
  }

  &__content {
    margin-top: 40px;
    padding: 0 10px;

    &-name {
      font-size: 2.2rem;
      margin: 10px 0;

      @include respond(tablet) {
        font-size: 1.8rem;
      }
    }

    &-description {
      font-size: 1.6rem;
      color: $primary-grey-color;
      transition: all 0.2s ease-out;
      &:hover {
        color: #737373;
      }

      @include respond(tablet) {
        font-size: 1.4rem;
        overflow: hidden;
        display: block;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 2;
      }
    }

    &-price {
      font-size: 2rem;
      font-weight: 600;
      margin: 10px 0 20px;
      color: $primary-success-color;
      transition: all 0.25s ease-in-out;
      &:hover {
        color: $primary-red-color;
      }

      @include respond(tablet) {
        color: $primary-red-color;
        font-size: 1.8rem;
      }
    }
  }
}
